* {
    padding: 0;
    border: 0;
}

body {
    background-color: #1C1C1E;
}

.navbar-container {
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    height: 40px;
    padding-bottom: 40px;
}

/*navigation css*/
.logo {
    padding-right: 10px;
}

nav {
    background-color: #1C1C1E;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}

nav a {
    text-decoration: none;
    color: #E5E5E5;
}

nav a:hover {
    color: #FF4081;
}

.sideIcon {
    display: none;
}

.hideIcon {
    display: none;
}


/* When the sidebar is active, hide hamburger and show the X icon */
.sidebar.active {
    display: block;
}

.hideIcon.active {
    display: block;
}

.sideIcon.hidden {
    display: none;
}

/* Hide the sidebar initially */
.sidebar {
    flex-direction: column;
    position: fixed;
    height: auto;
    width: 100%;
    background-color: #2d1c3b;
    border-radius: 20px;
    display: none;
    z-index: 1000;
    margin-top: -5px;
}

.sidebar li {
    padding: 10px 10px;
    width: 100%;
    padding-left: 25px;
}

.sidebar li a {
    color: white;
    font-size: small;
}

.sidebar a:hover {
    color: #FF4081;
}

.sidebar li:hover {
    background-color: #3381FD;
    border-radius: 8px;
}

/*intro*/
.dance-intro{
    width: 100%;
    max-width: 1000px;
    background-color: #af8ecb;
    border-radius: 30px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 50px;
}

.heading{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.heading .title{
    font-size: 40px;
    color: #0f3a80;
    font-weight: bolder;
}

.heading .sub-heading p{
    font-size: 25px;
    color: #0f3a80;
    font-weight: bold;
    margin-top: -15px;
}

.heading .dance-desc {
    font-size: 20px;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: -15px;
}

/*characteristics*/
.characteristics-container{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 250px;
}

.character-row{
    display: flex;
    justify-content: space-between;
}

.character-intro{
    font-size: 30px;
    color:#A7B9D9;
    font-weight: bold;
    text-align: center;
}

.rhythm,
.intent,
.patterns{
    position: relative;
}

.rhythm-pic img,
.intent-pic img,
.patterns-pic img{
    width: 350px;
    height: 250px;
    border-radius: 10%;
}

.rhythm-logo svg,
.intent-logo svg,
.patterns-logo svg{
    width: 40px;
    height: 40px;
    background-color: #9eb8e3;
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.rhythm-content,
.intent-content,
.patterns-content{
    position: absolute;
    top: 75%;
    left: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: rgb(123, 165, 233);
    max-width: 300px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
}

.rythm-heading,
.intent-heading,
.patterns-heading{
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.rhythm-writing,
.intent-writing,
.patterns-writing{
    color: #E2E2E2;
    padding: 0 20px;
    font-size: 20px;
}

/*history-container*/
.history-container{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 250px;
}

.history-content,
.history-2{
    display: flex;
}

.ancient-container,
.renaissance-container{
    width: 100%;
    max-width: 600px;
    padding-right: 20px;
    margin-bottom: 100px;
}

.history-title,
.renaissance-title{
    font-size: 30px;
    color:#A7B9D9;
    font-weight: bold;
    text-align: center;
}

.ancient-title,
.renaissance-title{
    font-size: 25px;
    color: #c689c8;
    font-weight: bold;
    text-align: center;
}

.ancient-sub,
.renaissance-sub{
    font-size: 20px;
    color: #c689c8;
    font-weight: bold;
    text-align: center;
}

.ancient-content ul li,
.renaissance-content ul li{
    font-size: 20px;
    text-align: center;
    color: white;
    padding-bottom: 15px;
}

.ancient-images,
.renaissance-images{
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.two-images{
    display: flex;
}

.img-columns{
    display: flex;
    flex-direction: column;
}

.ancient-img-1 img{
    height: 300px;
}

.ancient-img-2 img{
    width: 400px;
}

.renaissance-img-2 img{
    width: 300px;
}


.renaissance-img-3 img{
    width: 300px;
}
@media screen and (max-width: 768px) {
    /*navbar*/
    .hideOnMobile {
        display: none;
    }

    .sideIcon {
        display: block;
        cursor: pointer;
    }


    .hideIcon {
        display: none;
        cursor: pointer;
    }
}