* {
    padding: 0;
    border: 0;
}

body {
    background-color: #1C1C1E;
}

.navbar-container {
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    height: 40px;
    padding-bottom: 40px;
}

/*navigation css*/
.logo {
    padding-right: 10px;
}

nav {
    background-color: #1C1C1E;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}

nav a {
    text-decoration: none;
    color: #E5E5E5;
}

nav a:hover {
    color: #FF4081;
}

.sideIcon {
    display: none;
}

.hideIcon {
    display: none;
}


/* When the sidebar is active, hide hamburger and show the X icon */
.sidebar.active {
    display: block;
}

.hideIcon.active {
    display: block;
}

.sideIcon.hidden {
    display: none;
}

/* Hide the sidebar initially */
.sidebar {
    flex-direction: column;
    position: fixed;
    height: auto;
    width: 100%;
    background-color: #2d1c3b;
    border-radius: 20px;
    display: none;
    z-index: 1000;
    margin-top: -5px;
}

.sidebar li {
    padding: 10px 10px;
    width: 100%;
    padding-left: 25px;
}

.sidebar li a {
    color: white;
    font-size: small;
}

.sidebar a:hover {
    color: #FF4081;
}

.sidebar li:hover {
    background-color: #3381FD;
    border-radius: 8px;
}

/*welcome container*/
.welcome-container {
    width: 100%;
    max-width: 1000px;
    height: 400px;
    display: flex;
    position: relative;
    background-color: #af8ecb;
    border-radius: 30px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 10px;
}

.welcome-container h1, 
.welcome-container h2,
.welcome-container p{
    text-align: center;
    color:#F5F5F5;
}

.main-title h1 {
    font-size: 40px;
    color: #0f3a80;
    font-weight: bolder;
}

.heading .sub-title h2{
    font-size: 25px;
    color: #0f3a80;
    font-weight: bold;
}

.welcome-desc p{
    font-size: 20px;
    color: white;
}

.desc-img img{
    width: 400px;
    height: 450px;
}


/*goals container*/
.project-goals-container {
    max-width: 1150px;
    display: flex;
    flex-direction: column;
    margin: 60px auto 0;
    justify-content: center;
    align-items: center;
}

.title h1 {
    color:#A7B9D9;
    font-weight: bold;
    font-size: 40px;
}

.project-goals-container .desc p{
    color:#F5F5F5;
    margin-top: -15px;
    margin-bottom: 20px;
}

.goals-container {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1140px;
}

.define,
.explore,
.highlight {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 30px;
    max-width: 300px;
}

/* Individual containers */
.define, .highlight{
    background-color: white;
}

.explore {
    background-color: #3381FD;
}

.explore h2{
    margin-top: -10px;
}

.highlight h2{
    margin-top: -5px;
}

.explore img,
.highlight img{
    padding-top: 50px;
}

/*content-container*/
.dance-pic img,
.tech-pic img,
.case-pic img{
    width: 40px;
    height: 40px;
}

.content-container {
    margin: 100px auto 0 auto;
    max-width: 1225px;
    height: auto;
    border-radius: 30px;
    padding-top: 40px;
    position: relative;
    overflow: hidden;
    background-image: url(./images/content-back.jpg);
    background-size: cover;
    background-position: center;
    z-index: 2;
    padding-bottom: 50px;
}

.content-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 25, 51, 0.6);
    z-index: 1;
}

.content-container .heading {
    font-size: 40px;
    color: white;
    padding-left: 100px;
    text-wrap: nowrap;
    font-weight: bold;
    margin-right: 150px;
}

.content-container .writing {
    margin-right: 250px;
    padding-top: 40px;
    font-size: 25px;
    color: white;
}

.content {
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}

.categories {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-right: 100px;
    padding-left: 100px;
    z-index: 2;
    position: relative;
}

.dance-container,
.tech-container {
    padding-right: 100px;
}

.dance-pic img,
.tech-pic img,
.case-pic img{
    background-color: #498BF4;
    border-radius: 50%;
    padding: 10px;
    margin-right: 20px;
}

.vl {
    border-left: 1px solid white;
    height: 200px;
    padding-right: 100px;
}

.dance-title p,
.tech-title p,
.case-title p{
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.dance-p p,
.tech-p p,
.case-p p{
    color: white;
    font-size: 20px;
}


@media screen and (max-width: 768px) {
    /*navbar*/
    .hideOnMobile {
        display: none;
    }

    .sideIcon {
        display: block;
        cursor: pointer;
    }


    .hideIcon {
        display: none;
        cursor: pointer;
    }

    /*welcome-container*/
    .welcome-container{
        flex-direction: column;
        align-items: center;
        height: 480px;
    }

    h1{
        font-size: 30px;
    }

    h2{
        font-size: 20px;
    }

    .desc p{
        font-size: 15px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .image img{
        height: 200px;
        width: 200px;
    }
}