* {
    padding: 0;
    border: 0;
}

body {
    background-color: #1C1C1E;
}

.navbar-container {
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    height: 40px;
    padding-bottom: 40px;
}

/*navigation css*/
.logo {
    padding-right: 10px;
}

nav {
    background-color: #1C1C1E;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}

nav a {
    text-decoration: none;
    color: #E5E5E5;
}

nav a:hover {
    color: #FF4081;
}

.sideIcon {
    display: none;
}

.hideIcon {
    display: none;
}


/* When the sidebar is active, hide hamburger and show the X icon */
.sidebar.active {
    display: block;
}

.hideIcon.active {
    display: block;
}

.sideIcon.hidden {
    display: none;
}

/* Hide the sidebar initially */
.sidebar {
    flex-direction: column;
    position: fixed;
    height: auto;
    width: 100%;
    background-color: #2d1c3b;
    border-radius: 20px;
    display: none;
    z-index: 1000;
    margin-top: -5px;
}

.sidebar li {
    padding: 10px 10px;
    width: 100%;
    padding-left: 25px;
}

.sidebar li a {
    color: white;
    font-size: small;
}

.sidebar a:hover {
    color: #FF4081;
}

.sidebar li:hover {
    background-color: #3381FD;
    border-radius: 8px;
}

/*intro*/
.tech-dance-intro{
    width: 100%;
    max-width: 1000px;
    background-color: #af8ecb;
    border-radius: 30px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 100px;
}

.heading{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.heading .title{
    font-size: 40px;
    color: #0f3a80;
    font-weight: bolder;
}


.heading .tech-desc {
    font-size: 20px;
    color: white;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: -25px;
}

@media screen and (max-width: 768px) {
    /*navbar*/
    .hideOnMobile {
        display: none;
    }

    .sideIcon {
        display: block;
        cursor: pointer;
    }


    .hideIcon {
        display: none;
        cursor: pointer;
    }
}